## Diving Deeper into Pandas

Yesterday you learned a little bit about loading data into Pandas. We're going to do much more manipulation and visualization with Pandas. First we start with loading in the statistics from our Imaris file.

In [3]:
import pandas as pd

point_stats = pd.read_csv("data/points_statistics.csv")

Now we can start taking a look at the first few rows of our summary table using `point_stats.head()`

In [5]:
##Show first few rows
point_stats.head()

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
0,-1,-1,22,267.000000,1,0,Total Number of Spots,NaN
1,0,0,60,3.938756,0,0,Area,um^2
2,0,1,60,3.137991,0,0,Area,um^2
3,0,2,60,3.817468,0,0,Area,um^2
4,0,3,60,3.125721,0,0,Area,um^2

What are some things we notice? Well, there appear to be some statistics that are global (for the entire sample, such as "Total Number of Spots") and some that are just for the localized points in the imaris file, such as ("Area").

In [6]:
##show last few rows
point_stats.tail()

##show dimensions of data frame
point_stats.shape

(9614, 8)

In [7]:
point_stats.describe()

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList
count,9614.000000,9614.000000,9614.000000,9.614000e+03,9614.000000,9614.000000
mean,-0.000104,132.972124,96.904618,2.544252e+05,0.000208,2.971604
std,0.010199,77.095938,70.912544,9.488890e+05,0.014422,2.020885
min,-1.000000,-1.000000,22.000000,-1.253068e+00,0.000000,0.000000
25%,0.000000,66.000000,54.250000,6.547221e+00,0.000000,1.000000
50%,0.000000,133.000000,67.000000,1.153930e+03,0.000000,3.000000
75%,0.000000,200.000000,76.000000,5.479047e+03,0.000000,5.000000
max,0.000000,266.000000,243.000000,1.060018e+07,1.000000,6.000000

In [8]:
point_stats[point_stats["ID_Object"]==-1]

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
0,-1,-1,22,267.0,1,0,Total Number of Spots,NaN
7744,0,-1,56,267.0,1,0,Number of Spots per Time Point,NaN

AttributeError: 'DataFrame' object has no attribute 'value_counts'

Let's look at all of the statistics that were collected for a shape.

In [10]:
point_stats[point_stats["ID_Object"]==1]

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
2,0,1,60,3.137991e+00,0,0,Area,um^2
269,0,1,237,6.374127e-01,0,1,Diameter X,um
536,0,1,238,6.374127e-01,0,1,Diameter Y,um
803,0,1,239,1.912238e+00,0,1,Diameter Z,um
1070,0,1,240,7.015536e+01,0,2,Distance from Origin,um
1337,0,1,62,1.338097e+01,0,0,Distance to Image Border XY,um
1604,0,1,63,7.830497e+00,0,0,Distance to Image Border XYZ,um
1871,0,1,55,0.000000e+00,0,0,Generation,NaN
2138,0,1,45,1.532400e+04,0,3,Intensity Center,NaN
2405,0,1,64,1.224500e+04,0,4,Intensity Center,NaN
2672,0,1,72,2.980000e+03,0,5,Intensity Center,NaN
2939,0,1,49,1.532400e+04,0,3,Intensity Max,NaN
3206,0,1,68,1.412100e+04,0,4,Intensity Max,NaN
3473,0,1,76,4.802000e+03,0,5,Intensity Max,NaN
3740,0,1,46,4.753584e+03,0,3,Intensity Mean,NaN
4007,0,1,65,6.307861e+03,0,4,Intensity Mean,NaN
4274,0,1,73,2.857566e+03,0,5,Intensity Mean,NaN
4541,0,1,50,3.762199e+03,0,3,Intensity Median,NaN
4808,0,1,69,5.842476e+03,0,4,Intensity Median,NaN
5075,0,1,77,2.809732e+03,0,5,Intensity Median,NaN
5342,0,1,48,5.380000e+02,0,3,Intensity Min,NaN
5609,0,1,67,1.550000e+02,0,4,Intensity Min,NaN
5876,0,1,75,1.062000e+03,0,5,Intensity Min,NaN
6143,0,1,47,3.156137e+03,0,3,Intensity StdDev,NaN
6410,0,1,66,3.545905e+03,0,4,Intensity StdDev,NaN
6677,0,1,74,7.221812e+02,0,5,Intensity StdDev,NaN
6944,0,1,51,2.433835e+06,0,3,Intensity Sum,NaN
7211,0,1,70,3.229625e+06,0,4,Intensity Sum,NaN
7478,0,1,78,1.463074e+06,0,5,Intensity Sum,NaN
7746,0,1,71,5.120000e+02,0,0,Number of Voxels,NaN
8013,0,1,241,6.822230e+01,0,6,Position X,um
8280,0,1,242,1.147227e+01,0,6,Position Y,um
8547,0,1,243,1.165675e+01,0,6,Position Z,um
8814,0,1,54,0.000000e+00,0,0,Time,s
9081,0,1,53,1.000000e+00,0,0,Time Index,NaN
9348,0,1,61,4.068010e-01,0,0,Volume,um^3

In [11]:
point_stats[point_stats["ID_StatisticsType"]==237]

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
268,0,0,237,0.714125,0,1,Diameter X,um
269,0,1,237,0.637413,0,1,Diameter X,um
270,0,2,237,0.703044,0,1,Diameter X,um
271,0,3,237,0.636165,0,1,Diameter X,um
272,0,4,237,0.651618,0,1,Diameter X,um
273,0,5,237,0.677572,0,1,Diameter X,um
274,0,6,237,0.717744,0,1,Diameter X,um
275,0,7,237,0.706776,0,1,Diameter X,um
276,0,8,237,0.687703,0,1,Diameter X,um
277,0,9,237,0.697197,0,1,Diameter X,um
278,0,10,237,0.694411,0,1,Diameter X,um
279,0,11,237,0.862388,0,1,Diameter X,um
280,0,12,237,0.622979,0,1,Diameter X,um
281,0,13,237,0.637413,0,1,Diameter X,um
282,0,14,237,0.681588,0,1,Diameter X,um
283,0,15,237,0.704406,0,1,Diameter X,um
284,0,16,237,0.691602,0,1,Diameter X,um
285,0,17,237,0.686632,0,1,Diameter X,um
286,0,18,237,0.675731,0,1,Diameter X,um
287,0,19,237,0.649626,0,1,Diameter X,um
288,0,20,237,0.697197,0,1,Diameter X,um
289,0,21,237,0.649227,0,1,Diameter X,um
290,0,22,237,0.673136,0,1,Diameter X,um
291,0,23,237,0.663319,0,1,Diameter X,um
292,0,24,237,0.663702,0,1,Diameter X,um
293,0,25,237,0.705424,0,1,Diameter X,um
294,0,26,237,0.679403,0,1,Diameter X,um
295,0,27,237,0.721002,0,1,Diameter X,um
296,0,28,237,0.607844,0,1,Diameter X,um
297,0,29,237,0.693360,0,1,Diameter X,um
...,...,...,...,...,...,...,...,...
505,0,237,237,0.626865,0,1,Diameter X,um
506,0,238,237,0.627293,0,1,Diameter X,um
507,0,239,237,0.581132,0,1,Diameter X,um
508,0,240,237,0.648024,0,1,Diameter X,um
509,0,241,237,0.617722,0,1,Diameter X,um
510,0,242,237,0.800465,0,1,Diameter X,um
511,0,243,237,0.690189,0,1,Diameter X,um
512,0,244,237,0.646415,0,1,Diameter X,um
513,0,245,237,0.615504,0,1,Diameter X,um
514,0,246,237,0.636997,0,1,Diameter X,um
515,0,247,237,0.634913,0,1,Diameter X,um
516,0,248,237,0.664085,0,1,Diameter X,um
517,0,249,237,0.972612,0,1,Diameter X,um
518,0,250,237,0.667886,0,1,Diameter X,um
519,0,251,237,0.665610,0,1,Diameter X,um
520,0,252,237,0.606472,0,1,Diameter X,um
521,0,253,237,0.625575,0,1,Diameter X,um
522,0,254,237,0.872914,0,1,Diameter X,um
523,0,255,237,0.856453,0,1,Diameter X,um
524,0,256,237,0.590950,0,1,Diameter X,um
525,0,257,237,0.810085,0,1,Diameter X,um
526,0,258,237,0.639893,0,1,Diameter X,um
527,0,259,237,0.608300,0,1,Diameter X,um
528,0,260,237,0.650823,0,1,Diameter X,um
529,0,261,237,0.584606,0,1,Diameter X,um
530,0,262,237,0.633656,0,1,Diameter X,um
531,0,263,237,0.558819,0,1,Diameter X,um
532,0,264,237,0.644796,0,1,Diameter X,um
533,0,265,237,0.568373,0,1,Diameter X,um
534,0,266,237,0.527389,0,1,Diameter X,um